<header xmlns="http://www.w3.org/1999/html">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div><a href="https://www.in28minutes.com" class="navbar-brand"></a>in28minutes</div>

    <ul class="navbar-nav">
      <li><a href="/welcome/moussa" class="nav-link" >Home</a></li>
      <li><a href="/todos" class="nav-link">Todos</a></li>
    </ul>

    <ul class="navbar-nav navbar-collapse justify-content-end">
      <li><a href="/login" class="nav-Link" >Login</a></li>
      <li><a href="/logout" class="nav-Link">Logout</a></li>
    </ul>
  </nav>
</header>




